body{
    
    margin-left: 30px;
    padding: 0px;
    background-color: rgb(4, 4, 47);
    display: flex;
    justify-content: center;
    align-items: center;
}
.box{
  width: 500px;
  border-left:2px solid black;
  
  
}
.main{
  
}
span{
  background-color: rgb(29, 129, 229);
  color: aliceblue;
  display: block;
  width: 130px;
  border-radius: 10px;
  padding-left: 10px;
  
}
h3{
  color:rgb(29, 129, 229) ;
  }
p{
  color: aliceblue;
}
ul li{
  list-style: none;
}


 .main:hover{
  background-color: rgb(12, 12, 37);
  padding: 20px;
}
span:hover{
  background-color: blueviolet;
}
h3:hover{
  color: yellow;
}
