/* 1200px */
@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
  .form-box {
    width: 75%;
  }
  .header {
    font-size: 1.7rem;
    padding: 1.2rem 5.8rem;
  }
  .form-text,
  .text {
    font-size: 1.5rem;
    line-height: 1.5;
  }
}
/* 944px */
@media (max-width: 62em) {
  .form-box {
    width: 90%;
  }
  .main {
    padding-left: 4.8rem;
    padding-right: 4.8rem;
  }
  .header-right input {
    width: 22rem;
  }
  .nav-links {
    gap: 1.2rem;
  }
  .work-text {
    padding-left: 0;
    padding-right: 0;
  }
  .text-box p {
    line-height: 1.6;
    font-size: 2rem;
  }
  /* .form input,
  .form-btn,
  .btn-work {
    padding: 0.6rem;
  }
  .header-right input {
    width: 22rem;
  }
  .form-text,
  .text {
    font-size: 1.6rem;
    line-height: 1.5;
  }
  .text-box p {
    line-height: 1.5;
  }
  .nav-links {
    gap: 1.2rem;
  } */
}

@media (max-width: 50em) {
  .header-right {
    display: none;
  }
  .btn-mobile-nav {
    display: block;
  }
  .main-nav,
  .header-right {
    background-color: rgba(255, 255, 255, 0.96);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 2.2rem;
    font-weight: 500;
    display: none;
  }
  /* .mobile-nav .header-left .main-nav {
    display: block;
  }
  .mobile-nav.icon-mobile-nav[name="close-outline"] {
    display: block;
  }
  .mobile-nav.icon-mobile-nav[name="menu-outline"] {
    display: none;
  } */
  .nav-links {
    flex-direction: column;
    gap: 2.2rem;
  }
  .main {
    grid-template-columns: 1fr;
  }
  .form-box {
    width: 55%;
  }
  .text-box {
    text-align: center;
  }
  .nav-icon {
    width: 3rem;
    height: 3rem;
  }
  .icon {
    width: 5rem;
    height: 5rem;
  }
  .how-to-work {
    padding: 2.9rem;
  }
  .form-box {
    padding: 2.2rem;
  }
}
@media (max-width: 37em) {
  .form-box {
    width: 85%;
    display: none;
  }
  .form-btn {
    display: block;
  }
  .main {
    align-items: center;
    justify-content: center;
  }
  .btn-work {
    width: 40%;
  }
  .work-heading {
    font-size: 4rem;
  }
}
