body{
    display: flex;
    justify-content: center;
   
    background-color: rgb(70 70 181);
}
.main-container{
    display: flex;
    flex-direction: column;
    background-color:rgb(229 75 168);
    justify-content: center;
    border: 1px solid black;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.4);
    width: 300px;
    height: 300px;
    
    
}

.calc-row{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    align-content: space-between;
    margin: 4px;
    
}

.calc-screen{
    flex-basis:210px ;
    width: 180px;
    height: 45px;
    text-align: end;
    border: 1px solid black;
    border-radius:10px ;
    font-size: xx-large;
    font-weight: 200;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.4);
}


.calc-sm-btn{
    width: 60px;
    height: 45px;
    text-align: center;
    border: 1px solid black;
    
    border-radius: 10px;
    align-self: center;
    font-size: xx-large;
    font-weight: 200;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.4);
}

.blue-btn{
    background-color:rgb(70 70 181);
}

.green-btn{
    background-color: rgb(22 198 227);
}

.yellow-btn{
    background-color:rgb(213 213 43);
}


