body {
  margin: 0;
  padding: 0;
}
.cantainer {
  display: grid;
  grid-template-columns: 18% 1fr 21%;
  grid-template-rows: 9% 1fr 50px;
  margin: 2%;
  column-gap: 2%;
  row-gap: 3%;
}
.nav {
  background-color: rgb(134, 26, 234);
  background-image: linear-gradient(
    to right,
    rgb(134, 26, 234),
    rgb(195, 144, 243)
  );

  grid-column-start: 1;
  grid-column-end: 4;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  column-gap: 20px;
}
.logo {
  padding-left: 2px;
  color: white;
  font-family: "Courier New", Courier, monospace;
}
.items {
  color: white;
  display: flex;
  flex-direction: row;
  margin: 19px;
}
button {
  color: rgb(216, 227, 237);
  text-decoration: none;
  /* padding: 9px 20px; */
  background-color: rgb(145 96 191);
  border: 2px;
  margin: 0px 20px;
  font-size: 11px;
  /* text-align: center; */
  padding-bottom: 25px;
  padding-top: 15px;
  padding-right: 25px;
  padding-left: 25px;
  border-radius: 10px;
}

.first {
  background-color: blue;
  grid-column-start: 1;
}
.second {
  background-color: rgb(219, 130, 35);
}
.third {
  background-color: aquamarine;
}
.footer {
  background-color: pink;
  grid-column-start: 1;
  grid-column-end: 4;
  background-color: rgb(134, 26, 234);
  background-image: linear-gradient(
    to right,
    rgb(134, 26, 234),
    rgb(195, 144, 243)
  );
  text-align: center;
  padding: 10px;
  font-size: 20px;
  margin: 2%;
}
.box1 {
  background-color: red;
  width: 42%;
  height: 100px;
  margin-top: 20px;
  margin-left: 30px;
}
.box2 {
  background-color: rgb(242, 255, 0);
  width: 42%;
  height: 100px;
  margin-top: 20px;
  margin-left: 30px;
}
.box3 {
  background-color: rgb(45, 167, 232);
  width: 42%;
  height: 100px;
  margin-top: 20px;
  margin-left: 30px;
}
.box4 {
  background-color: rgb(207, 34, 161);
  width: 42%;
  height: 100px;
  margin-top: 20px;
  margin-left: 30px;
}
.box5 {
  background-color: rgb(39, 7, 7);
  width: 42%;
  height: 100px;
  margin-top: 20px;
  margin-left: 30px;
}
.box6 {
  background-color: rgb(36, 237, 56);
  width: 42%;
  height: 100px;
  margin-top: 20px;
  margin-left: 30px;
}

.first {
  background-color: aquamarine;
}
.upper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.third {
  display: flex;
  flex-direction: column;
}
.second {
  padding: 0 20px;
}
.img2 {
  width: 20%;
}
.main-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}
.content-1 {
  grid-column-start: 1;
  grid-column-end: 3;
}
.img5 {
  grid-column-start: 1;
  grid-column-end: 3;
}
