* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  color: #333;
  line-height: 1.5;
  height: 100vh;
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  background: linear-gradient(to top left, #28b487, #7dd56f);
}
.show-modal {
  padding: 1rem 3rem;
  margin: 5rem 2rem;
  font-size: 1.5rem;
  border-radius: 2rem;
  background: #fff;
  border: none;
  cursor: pointer;
  border-radius: 10rem;
  color: #444;
}

.modal {
  background-color: #eee;
  width: 70%;
  display: none;
}
