body {
  margin: 10px;
  padding: 0;
  border: 2px solid black;
}
h1 {
  font-size: 15px;
  text-transform: uppercase;
  font-family: sans-serif;
  background-color: rgb(227, 229, 231);
  text-align: center;
}
h6 {
  text-transform: uppercase;
  color: grey;
}
h4 {
  font-size: 20px;
}
a:link {
  color: black;
}
a:hover {
  list-style: none;
}
ul li {
  list-style-type: square;
}
button {
  text-transform: uppercase;
  background-color: black;
  color: white;
}
button:hover {
  background-color: white;
  color: black;
  border: white;
}
