body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  border: 2px solid black;
  width: 550px;
  /* height: 280px; */
  /* 600-4-25*/
  margin: 40px auto;
  display: grid;
  grid-template-columns: 150px 1fr 1fr;
  grid-template-rows: 29px 200px 40px;
  column-gap: 20px;
}
.header {
  grid-column-start: 1;
  grid-column-end: 4;
}
h1 {
  font-size: 15px;
  text-transform: uppercase;
  font-family: sans-serif;
  background-color: rgb(227, 229, 231);
  text-align: center;
  /* height: 30px; */
  margin: auto;
  padding-top: 10px;
}
h1::after {
  content: "sale";
  background-color: red;
  color: aliceblue;
  width: 45px;
  height: 11px;
  font-size: 10px;
  /* display: flex; */
  position: relative;
  top: -22px;
  right: 452px;
  padding: 2px;
  border: 1px black;
}

.text {
  text-transform: uppercase;
  color: grey;

  font-size: 10px;
}

h4 {
  font-size: 20px;
  margin: 0;
}
h3 {
  text-transform: uppercase;
  font-family: sans-serif;
  font-size: 15p;
}
a:link {
  color: black;
}
a:hover {
  list-style: none;
}
ul li {
  list-style-type: square;
}
.button {
  text-transform: uppercase;
  background-color: black;
  color: white;
  grid-column-start: 1;
  grid-column-end: 4;
  /* width: 550px; */
  /* height: 40px; */
}
button:hover {
  background-color: white;
  color: black;
  border: 1px solid rgb(2, 2, 2);
}
.color-box {
  display: flex;
  align-items: center;

  margin-top: 8px;
  margin-bottom: 8px;
  gap: 10px;
}
.color {
  width: 13px;
  height: 13px;
}
.first {
  background-color: black;
}
.second {
  background-color: orange;
}

.third {
  background-color: blue;
}

.forth {
  background-color: green;
}
.fifth {
  background-color: rgb(179, 9, 142);
}

.price-detail {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.about-product {
  display: flex;
  align-items: center;
  gap: 10px;
}
