#nav {
  /* background-color: rgb(43, 43, 43); */
  color: rgb(150, 149, 149);
  margin: 2rem 3.5rem 0 3.5rem ;
}
body{
  background-image: url('bg.webp');
}
.k-img{
  width: 2.5rem;
}
span{
  color: rgb(81, 236, 194);
}
h1{
  color: rgb(208, 206, 206);
}
h3{
  color:rgb(124, 123, 123)
}
