body{
    margin: 0;
    padding: 0;
    background-color: rgb(104, 102, 100);

}
.parent{
    display: flex;
    flex-direction: row;
   justify-content: space-around;
 
   
    
}
img{
    width: 200px;
    height: 150px;
    padding: 16px;
    
}
.class{

    height: 330px;
    background-color: white;
    border: 2px solid black;
    text-align: center;
}
#child{
    flex-basis: 200px;
}









