body{
    margin: 0;
    padding: 0;
    background-color: rgb(104, 102, 100);

}
.parent{
    display: flex;
     /* flex-direction: row-reverse;  */ 
     justify-content: space-around;
    
}
img{
    width: 200px;
    height: 150px;
}
.child1{ 
    border: 1px solid black;
    
}
.child2{
    border: 1px solid black;

}
.child3{
    border: 1px solid black;

}







