* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: RAM, sans-serif;
}
.header {
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.7rem 6.8rem;
  font-size: 2rem;
}
span {
  color: #807f7f;
  font-size: 2.2rem;
}
.icon {
  width: 4rem;
  height: 4rem;
}
.header-right input {
  padding: 0.8rem;
  width: 28.9rem;
  border: none;
  background: #575454;
  border-radius: 0.4rem;
}
.header-left {
  display: flex;
  gap: 2.2rem;
  align-items: center;
}
.nav-links {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.2rem;
}
.logo-icon {
  color: aliceblue;
}
.main {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 10rem 9.2rem;
  row-gap: 4.2rem;
  background-image: linear-gradient(
      to right bottom,
      rgba(0, 0, 0),
      rgba(0, 0, 0, 0.35)
    ),
    url(github.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.form-box {
  background-color: white;
  border-radius: 0.5rem;
  color: black;
  padding: 3.6rem;
  width: 70%;
  justify-self: center;
  font-family: RAM, sans-serif;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
}
.nav-btn {
  display: none;
}
label {
  font-size: 1.6rem;
  font-weight: 500;
  text-transform: uppercase;
}
.form input {
  width: 100%;
  padding: 1rem;
  font-size: 1.8rem;
  /* background-color: #fdf2e9; */
  border-radius: 0.5rem;
  /* box-shadow: 0 1px 2px gray; */
  padding-top: -5.8rem;
  margin-top: 0.6rem;
  border: gray;
  border: 1px solid grey;
}
.form input,
.form-btn,
.btn-work {
  width: 100%;
  padding: 1rem;
  font-size: 1.8rem;
  background-color: white;
  border-radius: 0.4rem;
  background-color: 1px solid gray;
}

.form-btn {
  background-color: green;
  width: 100%;
  margin-bottom: 1.7rem;
  border: none;
}
.form-text,
.text {
  font-size: 1.3rem;
  line-height: 1.3;
}
.text-box {
  margin: 3.2rem 4.5rem;
  color: azure;
}
h1 {
  font-size: 6rem;
  font-weight: 500;
}
.text-box p {
  font-size: 2.2rem;
  letter-spacing: 0.1rem;
  line-height: 1.9;
  padding: 2.3rem 0;
}

.how-to-work {
  text-align: center;
  font-family: RAM, sans-serif;
  padding: 6rem;
}
.site {
  font-size: 1.8rem;
}
.work-heading {
  font-size: 4.4rem;
}
.work-text {
  font-size: 1.6rem;
  padding: 1.3rem 22.2rem;
  line-height: 1.5;
}
.work-btn {
  width: 20%;
}
.btn-work {
  width: 20%;
  color: blue;
  font-weight: 600;
  font-size: 1.9rem;
  border: 1px solid gray;
}
.nav-head .main-nav .header-right {
  background-color: aliceblue;
}
