.netflix-logo {
  width: 9rem;
}
#main-section {
  background-image: linear-gradient(
      to top,
      rgba(0, 0, 0, 1.1) 0,
      rgba(0, 0, 0, 0) 60%,
      rgba(0, 0, 0, 1.1) 100%
    ),
    url(bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  border-bottom: 8px solid rgb(54, 54, 54);
}
#dropdown-btn {
  color: white;
  background-color: black;
}
h1 {
  font-size: 3.5rem;
  font-weight: 700;
}
form {
  margin: 2rem 10rem 2rem 10rem;
}
p {
  font-size: 2rem;
}
h4 {
  font-size: 1.3rem;
}
#tv-section,
#mobile-section {
  background-color: black;
  color: white;
  border-bottom: 8px solid rgb(54, 54, 54);
}
#tv-para,
#moblie-para {
  line-height: 1.3;
  font-size: 1.9rem;
}
