.section-one {
  background-color: #ef8172;
  color: white;
  font-family: "lora";
}
.container-fluid {
  padding: 3rem 4rem;
}
.image {
  width: 80%;
  border: 10px solid white;
  border-radius: 10px;
}
.collapse {
  margin-left: auto;
}
.big-heading {
  font-size: 3.6rem;
  line-height: 1.8;
}
.navbar {
  padding: 3rem 0 7rem 0;
  color: rgba(255, 255, 255, 0.5);
}
.navbar-brand {
  font-size: 2.5rem;
  font-weight: bold;
  color: rgba(255, 255, 255);
}
.nav-link {
  color: white;
}
.section-three {
  background-color: #ef8172;
  text-align: center;
  color: white;
  padding: 3rem 5rem;
}
.testimonial-img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
.carousel-heading {
  font-size: 2.7rem;
  padding: 3.2rem 4.5rem 1.2rem 4.5rem;
  line-height: 1.6;
}
#pricing {
  padding: 4rem;
}
strong {
  font-weight: bolder;
  font-size: 2.8rem;
  line-height: 1.5;
}
p {
  margin-bottom: 1rem;
}
h2 {
  font-size: 3rem;
  line-height: 1.5;
}
.cta {
  background-color: #ef8172;
  color: white;
  padding: 4rem 6rem;
}
.cta-heading {
  font-size: 3rem;
}
.download-btn {
  margin: 2rem 3rem 2rem 0;
}
#footer {
  padding: 4rem 7rem;

  text-align: center;
}
