body {
  margin: 0;
  padding: 0;
}
.cantainer {
  display: grid;
  grid-template-columns: 61% auto;

  /* width: 40%; */
  height: 60%;
  font-family: sans-serif;
  margin: 25%;
  background-color: rgb(248, 241, 242);
  box-shadow: 7px 1px 33px black;
}
h1 {
}
img {
  width: 100%;
  height: auto;
}
.header {
  padding-left: 7%;
  letter-spacing: 5px;
}
.main {
  padding-left: 10%;
}
h2 {
  color: pink;
}
p {
  font-family: 500;
}
.circle {
  background-color: #f7f3f3;
  border: 2px solid black;
}
.btn {
  float: right;
  /* text-align: center; */
  margin-right: 20px;
  border-radius: 16px;
  background-color: pink;
  padding: 5px 20px;
  font-size: 17px;
  border: 2px solid pink;
  position: relative;
  right: 16%;
}
input {
  padding: 8px;
  margin-left: 40px;
  width: 65%;
  border-radius: 14px;
  border: 2px solid #f7f3f3;
}
