*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.text{
  
    background-color: rgb(59, 59, 59);
    border: 10px solid rgb(25, 25, 72);
    box-shadow: 0,0,1px rgba(0, 0, 0, 0.2);
}

.maindiv{
    position: relative;
    text-align: center;
    width: 100%;
    height: 100vh;
    background-color: rgb(33, 124, 157);
}
.child{
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
  transform: translate(-50%,-50%);
}
.mainbtn{
    padding: 0.5rem;
}
    